<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Computer Inventory</title>
</head>

<body>

<div class="container">
	<h3>IT Inventory</h3>
	<hr>
	
	<!-- Add a button -->
	
	<a th:href="@{/computer/showFormForAdd}"
		class="btn btn-primary btn-sm mb-3">
		Add Computer
	</a>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Name</th>
				<th>Serial Number</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempComputer : ${computers}">
				<td th:text="${tempComputer.name}" />
				<td th:text="${tempComputer.serialNumber}" />
				
				
				
				<td>
					<!-- Add update button/link -->
					<a th:href="@{/computer/showFormForUpdate(computerId=${tempComputer.id})}"
						class="btn btn-info btn-sm">
						Update
					</a>
					
					<!-- Add delete button/link -->
					<a th:href="@{/computer/delete(computerId=${tempComputer.id})}"
						class="btn btn-danger btn-sm"
						onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
						Delete
					</a>
				</td>
			</tr>
		</tbody>
	
	</table>
</div>

</body>
</html>